.hello {
  color: red;
}
.hed1 {
  color: blue;
}
// ライトモードの時
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --main-text-color: #000;
  }
}

// ダークモードの時
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #1e1e1e;
    --main-text-color: #fff;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}