{% load static %}
<!DOCTYPE html>
<html lang="ja">


<!-- ヘッダー -->
<head>
  <!-- タイトル -->
  <title>restan-project</title>
</head>

<!-- メインコンテンツ -->
<body bgcolor="gray">
  <h1 class="hed1" aline="center">restan-project</h1>
  <hr><!-- 水平線 -->
  <!-- テーブル -->
  <table border="1">
    <tr>
      <th>日付</th>
      <th>ついーと</th>
      <th>name</th>
    </tr>
    <tr>
      <td ><font size="3">2019/10/7</font></td>
      <td ><font size="3">湯船に浸かるとよく眠れると聞いてお湯を溜めるが、洗面器がなく絶望する。</font></td>
      <td ><font size="3">たなな</font></td>
    </tr>
  </table>
  <button type="button" align="right">追加</button>
  <script type="text/python" src="../../static/bmi.py"></script>

</body>

</html>

